{% extends 'base.html' %}
{% load polls_extras %}

{% block content %}
<form method="post" action="">
{% csrf_token %}
{% if department %}
Отдел: {{ department }}
{{ formset.management_form }}
{% for form in formset %}
    {{ form.errors }}
    <div>
    вопрос: {{ questions|get_item:forloop.counter0 }}
        <input type="hidden" value="{{ form.department.value }}" name="{{ form.department.html_name }}">
    </div>
    <div>
        ответ: {{ form.answer }}
    </div>
{% endfor %}
<input type="submit" value="Отправить">
{% else %}
Вы успешно прошли первый опрос.
{% endif %}
</form>
{% endblock %}