{% extends 'base.html' %}

{% block content %}
<h2>Добро пожаловать!</h2>
    <p><img src="film.gif" alt="film" id="leftImg" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aliquam auctor semper libero. viverra porttitor. Phasellus eu lorem vitae augue
      aliquet aliquam. Integer vitae, ligula. Vivamus vitae
      augue at dui consequat tempor.  Aliquam auctor semper libero. viverra porttitor. Phasellus eu lorem vitae augue
      aliquet aliquam. Integer vitae, ligula. Vivamus vitae
      augue at dui consequat tempor.  Aliquam auctor semper libero. viverra porttitor. Phasellus eu lorem vitae augue
      aliquet aliquam. Integer vitae, ligula. Vivamus vitae
      augue at dui consequat tempor.</p>
    <blockquote>
      <p>This page is valid xhtml 1.0 strict. Thank you to css
        Tinderbox
        for helping to build this foundation for the template. Please let me
        know how you use this template. Thank you to Animation Factory for the
        images.&nbsp;</p>
    </blockquote>
    <h2>&nbsp;</h2>
    <h2>More Information </h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aliquam
      auctor semper libero. Vestibulum at erat eget arcu sagittis adipiscing.
      Vestibulum odio nisi, scelerisque et.&nbsp;</p>
    <p>This page is valid xhtml 1.0 strict.</p>
    <br />
    <h3>Copyright 2007 Design by <a href="http://www.projectaces.com">LS</a></h3>
    <br />
{% endblock %}
