<!DOCTYPE html>
<html>
<head>
    <title>Super Site</title>
    <script type="text/javascript" src="/static/app/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/app/js/jquery-ui-1.10.3.custom.min.js"></script>
</head>
<body>
<center>
    <a href=""><img src="/static/app/images/super_site.jpg"></a>
    <h2>Сделать все заебись!</h2>
</center>
<script type="text/javascript">
    $('a').click(function(){
       alert('Поздравляем! Теперь то уж точно все заебись!');
    });
</script>
</body>
</html>