{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block UserInfo %}
        <h2>Информация о пользователе:</h2>
        {% if request.user.pk == object.pk %}
            <h2><a href="{% url 'profile_edit' %}">Изменить персональную информацию о себе</a></h2>
        {% endif %}
        <table width="100%" border="0">
            <tr>
                <td width="20%">
                    {% if object.avatar %}
                        <img src="{{ object.avatar.url }}">
                    {% endif %}
                </td>
                <td valign="top">
                    <p>{{ object.first_name }}</p>
                    <p>{{ object.last_name }}</p>
                </td>
            </tr>
        </table>
    {% endblock UserInfo %}

{#    <h2>Доступные опросы:</h2>#}
{#    <a href="{% url 'first_poll_start' %}">Опрос 1</a>#}
{#    {% block Polls %}#}
{#        <h2>Доступные опросы:</h2>#}
{#        {% if not polls %}#}
{#            <p>Доступных опросов нет</p>#}
{#        {% endif %}#}
{#        {% for poll in polls %}#}
{#            <p>#}
{#                {{ poll.type.content }}<br>#}
{#                {% if poll.completed %}#}
{#                    Пройден#}
{#                {% else %}#}
{#                    <a href="{% url 'poll_main' poll.pk %}">Не пройден</a>#}
{#                {% endif %}<br>#}
{#            </p>#}
{#        {% endfor %}#}
{#    {% endblock Polls %}#}

{% endblock %}